.space{
    height: 10px;
    width: 20px;
}

.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 50px;
    width: 70%;
}

.container > *{
    width:70%;
    margin-left: 30%;
}

mat-card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cont{
    margin-left: 70%;
}


