<p>login works!</p>

<!--
    
<div class="space">
</div>

<div class="form-container mat-elevation-z5">
   <h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="enviar()">
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email"/>
        <mat-error *ngIf="email?.errors?.['required']">
            É obrigatório preencher este campo
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
            Insira um email válido
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Senha" formControlName="password" type="password"/>
    </mat-form-field>
    <mat-error *ngIf="password?.errors?.['required']">
        É obrigatório preencher este campo
    </mat-error>

    <div class="center margin-top">
    <button mat-raised-button color="primary" type="submit">
        Login
    </button>
    </div>

    <br><br>
    <span class="center margin-top">Novo por aqui? <a class="sign-up-link" routerLink="/cadastro">Cadastre-se!</a></span>
</form> 
</div>

-->